.mainContainer {
  text-align: left;
  padding-right: 20px;
}

.headingContainer::after {
  display: inline-block;
  content: "";
  border-top: 1px solid black;
  width: 4rem;
  margin-top: 30px;
  margin-bottom: 5px;
  transform: translateY(-1rem);
}

.mainHeading {
  font-size: 42px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.mainQuote {
  font-size: 18px;
  margin-top: 0;
  font-style: italic;
  white-space: pre-wrap;
}

.component {
  width: inherit;
  position: absolute;
}
